<div ng-controller="corkboardController as cork" class="corkboard">
	
	<table class="cork-table">	
		<tr ng-repeat="prio in data.prios" class="priority">
		
			<td ng-repeat="cat in data.cats" class="category" droppable priority="{{prio}}" category="{{cat}}">
				
				<div ng-repeat="card in data.cards[prio+'-'+cat] track by card.id"
					draggable
					id="{{card.id}}"
					class="card"
					ng-style="{'background-color': data.efforts[ card.effort ]}"
					ng-class="{ 'card-overtime' : card.enddate < data.today, 'card-undertime' : data.today < card.startdate }"
					>
					<div class="card-header">
						<span class="card-light light-{{card.status}}" >&nbsp;</span>
						<span class="card-date">{{card.enddatestring}}</span>					
						<a href="#" 
							class="btn btn-default btn-xs card-button" 
							ng-click="deleteCard(card)">
							<span class="glyphicon glyphicon-trash"></span>
						</a>
						<a href="#" 
							class="btn btn-default btn-xs card-button" 
							ng-click="openCardFormEdit(card)">
							<span class="glyphicon glyphicon-pencil"></span>
						</a>
						<div class="clearfix"></div>
					</div>					
					
					<div class="card-body" data-toggle="tooltip" title="{{card.title}}">{{card.title}}</div>
					<div class="card-footer"></div>
				</div>
			</td>	
		</tr>	
	</table>	


	<!-- ----------------------------------------------------------------------------------------------------- -->
	
	<div class="buttons-new" >
		<a href="#" class="btn btn-primary btn-xs"
			ng-click="openCardFormNew()">
		<span class="glyphicon glyphicon-plus"></span>
		Add new Card
		</a>
	</div>	
	
	<!-- ---Overlay--- --------------------------------------------------------------------------------------- -->
	<div class="form-overlay {{ data.showOverlay }}">
		<div id="card-form" class="card-form">
			<button class="btn btn-warning btn-xs card-form-button" ng-click="cancelCardForm()">
				<span class="glyphicon glyphicon-remove"></span>
			</button>
			<button class="btn btn-primary btn-xs card-form-button" ng-click="printCard()" disabled="disabled">
				<span class="glyphicon glyphicon-print"></span>
			</button>
			<form name="form.cardForm" class="form-horizontal">
		        
		        <!-- 1. row -->
		        <!-- titel -->
		        <div class="form-group">
		            <label class="control-label col-xs-2" for="data.card.title">Titel:</label>
		            <div class="col-xs-8">
		            	<input name="title" ng-model="data.card.title" class="form-control" type="text"  placeholder="Titel">
		            </div>
		        </div>
		        
		        <!-- 2.  and 3.row -->
		        <div class="form-group">
		        	<div class="col-xs-1"></div>
		        	<div class="col-xs-11">
				        <!-- 2. row -->
				        <div class="form-group">
					        <!-- priority -->
					        <div class="form-group col-xs-4">
					            <label class="control-label col-xs-5" for="data.card.priority">Priorität:</label>
					            <div class="col-xs-7">
						            <select name="priority" ng-model="data.card.priority" class='selectpicker'>
				      					<option value="high">high</option>
								      	<option value="medium">medium</option>
								      	<option value="low">low</option>
								    </select>
								</div>
					        </div>  
					        <!-- category -->
					        <div class="form-group col-xs-4">
					            <label class="control-label col-xs-5" for="data.card.category">Kategorie:</label>
					            <div class="col-xs-7">
						            <select name="category" ng-model="data.card.category" class=''>
				      					<option value="backlog">backlog</option>
								      	<option value="inProgress">inProgress</option>
								      	<option value="todo">todo</option>
								    </select>
								</div>
					        </div>					    
					    	<!-- effort -->
					        <div class="form-group col-xs-4">
					            <label class="control-label col-xs-5" for="data.card.effort">Aufwand:</label>
					            <div class="col-xs-7">
						            <select name="effort" ng-model="data.card.effort" >
				      					 <option ng-repeat="(effort, color) in data.efforts" value="{{effort}}">{{effort}}</option>
								    </select>
								</div>
					        </div>
					   </div>
					   
					   <!-- 3 row -->
					   <div class="form-group">
					        <!-- status -->
					        <div class="form-group col-xs-4">
					            <label class="control-label col-xs-5" for="data.card.status">Status:</label>
					            <div class="col-xs-7">
						            <select name="status" ng-model="data.card.status">
				      					<option value="ok">ok</option>
								      	<option value="nok">nok</option>
								      	<option value="warn">warn</option>
								      	<option value="none">none</option>
								    </select>
								</div>
					        </div>
					        <!-- startdate -->
					        <div class="form-group col-xs-4">
					            <label class="control-label col-xs-5" for="data.card.startdate">Beginn:</label>
					            <div class="col-xs-7">
					            	<input class="form-control" 
					            	type="date" 
					            	name="startdate" 
					            	ng-model="data.card.startdate" 
					            	placeholder="yyyy-MM-dd" min="2017-01-01" max="2050-12-31">
					            	<span class="form-invalid-message" ng-show="form.cardForm.startdate.$invalid" >Enter a valid date.</span>
					            </div>
					        </div>			        
					        <!-- enddate -->
					        <div class="form-group col-xs-4">
					            <label class="control-label col-xs-5" for="data.card.enddate">Ende:</label>
					            <div class="col-xs-7">
					            	<input class="form-control" 
					            	type="date" 
					            	name="enddate" 
					            	ng-model="data.card.enddate" 
					            	placeholder="yyyy-MM-dd" min="2017-01-01" max="2050-12-31">
					            	<span class="form-invalid-message" ng-show="form.cardForm.enddate.$invalid" >Enter a valid date.</span>
					            </div>		            
					        </div>
				        </div>
				    </div>
				</div>	        
		            
			 	<!-- text -->
		        <div class="">
		            <div text-angular 
		            	ng-model="data.card.text" 
		            	ta-toolbar="[['h1','h2','h3'],['pre', 'quote'],['bold','italics','underline','strikeThrough'],['ul','ol'],['html','insertImage','insertLink'],['undo','clear']]"></div>
		        </div>
			    <div class="form-footer">
			        <button class="btn btn-primary" ng-click="submitCardForm()" ng-disabled="form.cardForm.$invalid">Submit</button>
			        <button class="btn btn-primary" ng-click="cancelCardForm()">Cancel</button>
			    </div>
			</form>
		</div>
	</div>
</div>