<div ng-controller="corkboardController as cork" class="corkboard">
	
	<table class="cork-table">	
		<tr ng-repeat="prio in prios" class="priority">
		
			<td ng-repeat="cat in cats" class="category" droppable priority="{{prio}}" category="{{cat}}">
		
				
				<div ng-repeat="card in cards[prio][cat]" class="card" draggable id="{{card.id}}">
		
					<div>{{card.title}} - {{card.status}} - 
						<a href="#" class="btn btn-default btn-xs" ng-click="openCardFormEdit(card)">edit</a>
					</div>
					<div>{{card.text}}</div>
		
				</div>
				
				<div class="new-card" ng-click="openCardForm()"><a href="#" class="btn btn-default btn-xs">+</a></div>
				
				<div class="clearfix">&nbsp;</div>
			</td>	
		</tr>	
	</table>	


	<!-- --------------------------- -->
	
	<div class="form-overlay {{ showOverlay }}">
		<div class="card-form">
			<form name="form.cardForm">
		        <!-- titel -->
		        <div class="form-group">
		            <label>Titel:</label>
		            <input type="text" name="card-title" class="form-control" ng-model="card.title">
		        </div>		       
		        <!-- status -->
		        <div class="form-group">
		            <label>Status:</label>
		            <select name="singleSelect" ng-model="card.status">
      					<option value="ok">ok</option>
				      	<option value="nok">nok</option>
				      	<option value="warn">warn</option>
				      	<option value="none">none</option>
				    </select>
		        </div>
		        <!-- priority -->
		        <div class="form-group">
		            <label>Priorität:</label>
		            <select name="singleSelect" ng-model="card.priority">
      					<option value="high">high</option>
				      	<option value="medium">medium</option>
				      	<option value="low">low</option>
				    </select>
		        </div>  
		        <!-- category -->
		        <div class="form-group">
		            <label>Kategorie:</label>
		            <select name="singleSelect" ng-model="card.category">
      					<option value="backlog">backlog</option>
				      	<option value="inProgress">inProgress</option>
				      	<option value="todo">todo</option>
				    </select>
		        </div>	        
			 	<!-- text -->
		        <div class="form-group">
		            <label>Beschreibung:</label>
		            <!-- <textarea rows="10" cols="50" name="card-text" class="form-control" ng-model="card.text"></textarea>-->
		            <div text-angular ng-model="card.text"></div>
		        </div>
			    <div class="form-footer">
			        <button class="btn btn-primary" ng-click="submitCardForm()">Submit</button>
			        <button class="btn btn-primary" ng-click="cancelCardForm()">Cancel</button>
			    </div>
			</form>
		</div>
	</div>

</div>