.corkboard {
	position: absolute;
	top: 35px; /* to navbar */
	bottom: 160px; /* to memo */	
	width: 100%;
}

/* -- card --*/
.card {
	position: relative;
	width: 150px;
	height: 100px;	
	float: left;
	margin-left: 5px;
	margin-bottom: 5px;
	
	color: #232323;
	border: 1px solid #CECECE;
	border-radius: 0px;
	box-shadow: 0px 10px 6px -6px #050505;
}
.card-header {
	padding: 2px;
	cursor:move;
}
.card-body{	
	height: 70px;
	padding: 2px;
	text-align: center;
	font-size: 1.0em;	
	overflow: auto;
	cursor:move;
}
.card-footer {
	position: absolute; 
	bottom: 0px;
	right: 0px;
	padding-right: 2px;
	font-size: 0.8em;
}
.card-date {
	float: left;	
	margin-left: 15px;
	margin-top: 2px;
  	height: 12px;
  	font-size: 0.8em;
}
.card-light {
	float: left;	
	margin: 0 auto;
  	width: 12px;
  	height: 12px;  	
  	border-radius: 50%;
}
.light-ok {
	background-color: #ABFF00;
  	box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #304701 0 -1px 9px, #89FF00 0 2px 12px;
}
.light-nok {
	background-color: #FF0000;
  	box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #880000 0 -1px 9px, #BB0000 0 2px 8px;
}
.light-warn {
	background-color: #FFFF00;
  	box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #BBBB00 0 -1px 9px, #DDDD00 0 2px 12px;
}
.light-none {
	background-color: #BBBBBB;
	background: -moz-radial-gradient(circle, #BBBBBB, #888888, #333333); /* Firefox 3.6 to 15 */
  	background: radial-gradient(circle, #BBBBBB, #888888, #333333); /* Standard syntax */
}
.card-button {
	float: right;
}
.card-overtime {
	border: 2px dotted #FF2222;
}
.card-undertime {
	opacity: 0.3;
}

/* --- Table ---*/
.cork-table {
	margin: 0 auto;
	width: 99%;
	min-height: 99%;
	height: 99%;
	table-layout: fixed;
	
	border: 1px solid #9A9A9A;
}

.cork-table-cell-label {
	margin-bottom:5px;
}
.priority {
}

.category {	
	height: 33%;
	vertical-align: top;
	padding: 5px;
	
	border: 1px solid #9A9A9A;
	overflow: auto;
}

/* -- Other --*/

.drag-over {
	border: 1px solid #9ecaed;
    outline: none;
    box-shadow: 0 0 10px #9ecaed;
}

/* --- FORM -------------------- */
.form-overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 1010;
  background-color: rgba(0,0,0,0.5);
}
.overlay-hidden {
	display: none;
}
.overlay-visible {
}
.card-form {
	margin: 0 auto;
	margin-top:100px;	
	width: 800px;
	
	background-color: #dedede;
	border-radius: 5px;
	border: 1px solid #BBBBBB;	
	padding: 10px;
}

.card-form-button {
	float:right;
	margin-left: 3px;
}

.form-group {
	margin-bottom:8px;
}

.buttons-new{
	position: fixed;
	top: 5px;
	right: 170px;
	z-index: 1001;	
}