.corkboard {
	position: absolute;
	top: 31px; /* to navbar */
	bottom: 18px; /* to footer */	
	width: 100%;
}
.corkboard-header {
	position: absolute;
	width: 100%;
	padding-top:10px;
	padding-left: 50px;
	padding-right: 50px;
}
.corkboard-header-tabs {
	float: left;
	margin-bottom: -1px; /* set Tabs direct on Table*/
}
.corkboard-header-tabs ul {
	
}
.corkboard-header-tabs li {
	margin-right: 5px;	
}
.corkboard-header-tabs li a {
	padding: 5px 10px;
	line-height: 1.0;
	border: 1px solid #9A9A9A;
	color: #BDBDBD;
}
.corkboard-header-tabs .btn {
	margin-bottom: 1px;
}
.nav-tabs > li.active > a {
	background-color: #565656;
	color: #DEDEDE;
}
.nav-tabs > li.inactive > a {
	background-color: #404040;
}
.corkboard-header-buttons {
	margin-top: 0px;	
}
.corkboard-header-button {
	float:right;
	margin-right: 10px;
}
.corkboard-board {
	position: absolute;
	top: 35px;
	margin: 0 auto;
	left: 10px;
	right: 10px;
	bottom: 0px;
	
	padding-top: 0px;
	
	background-color: #565656;
}

/* --- Table ---*/
.cork-table {
	margin: 0 auto;
	width: 100%;
	min-height: 100%;
	height: 100%;
	table-layout: fixed;
	
	border: 1px solid #9A9A9A;
	
	/* Grid Background*/
	background-color: transparent;
    background-image: linear-gradient(0deg, transparent 24%, rgba(255, 255, 255, .05) 25%, rgba(255, 255, 255, .05) 26%, transparent 27%, transparent 74%, rgba(255, 255, 255, .05) 75%, rgba(255, 255, 255, .05) 76%, transparent 77%, transparent), linear-gradient(90deg, transparent 24%, rgba(255, 255, 255, .05) 25%, rgba(255, 255, 255, .05) 26%, transparent 27%, transparent 74%, rgba(255, 255, 255, .05) 75%, rgba(255, 255, 255, .05) 76%, transparent 77%, transparent);
  	background-size: 50px 50px;	
}

.cork-table-cell-label {
	margin-bottom:5px;
}
.priority {
}

.category {	
	height: 33%;
	vertical-align: top;
	padding: 5px;
	
	border: 1px solid #9A9A9A;
	overflow: auto;
}

/* -- Other --*/

.drag-over {
	border: 1px solid #9ecaed;
    outline: none;
    box-shadow: 0 0 10px #9ecaed;
}

/* -- card --*/
.card {
	position: relative;
	width: 150px;
	height: 100px;	
	float: left;
	margin-left: 5px;
	margin-bottom: 5px;
	
	color: #232323;
	border: 1px solid #CECECE;
	border-radius: 0px;
	box-shadow: 0px 10px 6px -6px #050505;
}
.card-header {
	padding: 2px;
	cursor:move;
}
.card-body{	
	height: 70px;
	padding: 2px;
	text-align: center;
	font-size: 1.0em;	
	overflow: auto;
	cursor:move;
}
.card-footer {
	position: absolute; 
	bottom: 0px;
	right: 0px;
	padding-right: 2px;
	font-size: 0.8em;
}
.card-date {
	float: left;	
	margin-left: 15px;
	margin-top: 2px;
  	height: 12px;
  	font-size: 0.8em;
}
.card-light {
	float: left;	
	margin: 0 auto;
  	width: 12px;
  	height: 12px;  	
  	border-radius: 50%;
}
.light-ok {
	background-color: #ABFF00;
  	box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #304701 0 -1px 9px, #89FF00 0 2px 12px;
}
.light-nok {
	background-color: #FF0000;
  	box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #880000 0 -1px 9px, #BB0000 0 2px 8px;
}
.light-warn {
	background-color: #FFFF00;
  	box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #BBBB00 0 -1px 9px, #DDDD00 0 2px 12px;
}
.light-none {
	background-color: #BBBBBB;
	background: -moz-radial-gradient(circle, #BBBBBB, #888888, #333333); /* Firefox 3.6 to 15 */
  	background: radial-gradient(circle, #BBBBBB, #888888, #333333); /* Standard syntax */
}
.card-button {
	float: right;
}
.card-overtime {
	border: 2px dotted #FF2222;
}
.card-undertime {
	opacity: 0.3;
}

/* --- FORM -------------------- */
.form-overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 1010;
  background-color: rgba(0,0,0,0.5);
}
.overlay-hidden {
	display: none;
}
.overlay-visible {
}
.card-form {
	margin: 0 auto;
	margin-top:100px;	
	width: 800px;
	
	background-color: #dedede;
	border-radius: 5px;
	border: 1px solid #BBBBBB;	
	padding: 10px;
}

.card-form-button {
	float:right;
	margin-left: 3px;
}

.form-group {
	margin-bottom:8px;
}

/* -- Board Form --*/
.board-form {
	margin: 0 auto;
	margin-top:100px;	
	width: 800px;
	
	background-color: #dedede;
	border-radius: 5px;
	border: 1px solid #BBBBBB;	
	padding: 10px;	
}
.board-form .form-horizontal .form-group {
	margin-left: 0px;
	margin-right: 0px;
}
.board-form-label {
	text-align: left !important;
}
.board-form-name {
	margin-top: 20px;
}