@CHARSET "UTF-8";

/* --- Layout -------------------------------------------------------- */

body {
	background-color: #F7F7F7;
	color: #232323;	
	margin:0;
	padding:0px 0px 0px 0px;
	height: 100%;
	min-height: 100%;
}

.wrapper {

}

.footer {	
	position:absolute;
	width:500px;
	bottom:0px;
	right: 0px;
	height: 18px;
	
	text-align: right;
	font-size: 0.8em;
	color: #454545;
	text-align: right;
	padding-right: 20px;
}

/* --- Navbar -------------------------------------------------------- */ 
.navbar {
	width: 100%;
	min-height: 20px;
}

.navbar-left {
	background-color: #DEDEDE;
	border-bottom: 1px solid #ABABAB; 
	margin-bottom: 0px;
	height:
}

.navbar-left .container{
	width: 100%;
}

.navbar-left .navbar-brand {
	margin-top: 0px;
	margin-bottom: 0px;
	background-color: #386caf;
	color: transparent;
	text-shadow: 0px 2px 3px rgba(255,255,255,0.25);
	-webkit-background-clip: text;
	-moz-background-clip: text;
	background-clip: text;
	
	font-weight: bold;
	font-size: 1.3em;
	
	height: 30px;
	padding-top: 5px;
	padding-left: 30px;	
}

.nav-space {
	padding-left: 50px;
}

/* --- Content -------------------------------------------------------- */ 

.clearfix::after {
  clear: both;
  display: block;
}

.buttons-new{
	position: fixed;
	top: 5px;
	right: 20px;
	z-index: 1001;	
}

.ta-editor {
    min-height: 200px;
    height: auto;
    overflow: auto;
    font-family: inherit;
    font-size: 100%;
    margin: 10px 0;
}
.form-invalid-message {
	color: #EE5555;
	font-family: monospace;
}
