<div ng-controller="corkboardController as cork" class="corkboard">
	<div class="corkboard-tabs">			
		<ul class="nav nav-tabs">
			<li class="active" ng-repeat="board in data.boards">
			  	<a href="#" ng-click="openBoard(board)">{{board.name}}</a>
			</li>
			  
			<li><a href="#" 
		  		class="btn btn-primary btn-xs"
				ng-click="openBoardFormNew()">
				<span class="glyphicon glyphicon-plus"></span>
			</a>
			</li>
			<div class="corkboard-button-new-card" >
				<a href="#" class="btn btn-success btn-sm"
					ng-click="openCardFormNew()">
					<span class="glyphicon glyphicon-plus"></span>
					Add new Card
				</a>
			</div>
		</ul>		
	</div>
	
	<div class="corkboard-board">	
		<table class="cork-table">	
			<tr ng-repeat="row in data.currentBoard.boardRows" class="priority">
			
				<td ng-repeat="col in data.currentBoard.boardColumns" class="category" droppable row="{{row.boardRowId}}" column="{{col.boardColumnId}}">
					
					<div class="cork-table-cell-label">{{row.name}} - {{col.name}}</div>
					
					<div ng-repeat="card in data.currentCards[row.boardRowId+'-'+col.boardColumnId] track by card.cardId"
						draggable
						id="{{card.cardId}}"
						class="card"
						ng-style="{'background-color': data.efforts[ card.effort ]}"
						ng-class="{ 'card-overtime' : (card.endDate && (card.endDate < data.today)), 'card-undertime' : data.today < card.startDate }"
						ng-dblclick="openCardFormEdit(card)"
						>
						<div class="card-header">
							<span class="card-light light-{{card.status}}" >&nbsp;</span>
							<span class="card-date">{{card.endDateString}}</span>					
							<a href="#" 
								class="btn btn-default btn-xs card-button" 
								ng-click="deleteCard(card)">
								<span class="glyphicon glyphicon-trash"></span>
							</a>
							<a href="#" 
								class="btn btn-default btn-xs card-button" 
								ng-click="openCardFormEdit(card)">
								<span class="glyphicon glyphicon-pencil"></span>
							</a>
							<div class="clearfix"></div>
						</div>					
						
						<div class="card-body" data-toggle="tooltip" title="{{card.title}}">{{card.title}}</div>
						<div class="card-footer"></div>
					</div>				
				</td>	
			</tr>	
		</table>
	</div>	


	<!-- ----------------------------------------------------------------------------------------------------- -->
	<!-- ---Overlay--- --------------------------------------------------------------------------------------- -->
	
	<div class="form-overlay {{ data.showCardOverlay }}">
		<div id="card-form" class="card-form">
			<button class="btn btn-warning btn-xs card-form-button" ng-click="cancelCardForm()">
				<span class="glyphicon glyphicon-remove"></span>
			</button>
			<button class="btn btn-primary btn-xs card-form-button" ng-click="printCard()" disabled="disabled">
				<span class="glyphicon glyphicon-print"></span>
			</button>
			<form name="form.cardForm" class="form-horizontal">
		        
		        <!-- 1. row -->
		        <!-- titel -->
		        <div class="form-group">
		            <label class="control-label col-xs-2" for="data.card.title">Titel:</label>
		            <div class="col-xs-8">
		            	<input name="title" ng-model="data.card.title" class="form-control" type="text"  placeholder="Titel">
		            </div>
		        </div>
		        <!-- 2. row -->
		        <div class="form-group">
			        <!-- row -->
			        <div class="form-group col-xs-4">
			            <label class="control-label col-xs-5" for="data.card.priority">Priorität:</label>
			            <div class="col-xs-7">
				            <select name="priority" ng-model="data.card.boardRowId"  class='selectpicker form-control'>
		      					<option ng-repeat="row in data.currentBoard.boardRows" 
		      							ng-selected="data.card.boardRowId == row.boardRowId"
		      							value="{{row.boardRowId}}">{{row.name}}</option>
						    </select>
						</div>
			        </div>  
			        <!-- column -->
			        <div class="form-group col-xs-4">
			            <label class="control-label col-xs-5" for="data.card.category">Kategorie:</label>
			            <div class="col-xs-7">
				            <select name="category" ng-model="data.card.boardColumnId" class='form-control'>
		      					<option ng-repeat="col in data.currentBoard.boardColumns" 
		      							ng-selected="data.card.boardColumnId == col.boardColumnId"
		      							value="{{col.boardColumnId}}">{{col.name}}</option>							      	
						    </select>
						</div>
			        </div>					    
			    	<!-- effort -->
			        <div class="form-group col-xs-4">
			            <label class="control-label col-xs-5" for="data.card.effort">Aufwand:</label>
			            <div class="col-xs-7">
				            <select name="effort" ng-model="data.card.effort" class="form-control">
		      					 <option ng-repeat="(effort, color) in data.efforts" value="{{effort}}">{{effort}}</option>
						    </select>
						</div>
			        </div>
			   </div>
			   
			   <!-- 3 row -->
			   <div class="form-group">
			        <!-- status -->
			        <div class="form-group col-xs-4">
			            <label class="control-label col-xs-5" for="data.card.status">Status:</label>
			            <div class="col-xs-7">
				            <select name="status" ng-model="data.card.status" class="form-control">				      					
						      	<option value="none">none</option>
		      					<option value="ok">ok</option>				      					
						      	<option value="warn">warn</option>
						      	<option value="nok">nok</option>
						    </select>
						</div>
			        </div>
			        <!-- startdate -->
			        <div class="form-group col-xs-4">
			            <label class="control-label col-xs-5" for="data.card.startDate">Beginn:</label>
			            <div class="col-xs-7">
			            	<input class="form-control" 
			            	type="date" 
			            	name="startDate" 
			            	ng-model="data.card.startDate" 
			            	placeholder="yyyy-MM-dd" min="2017-01-01" max="2050-12-31">
			            	<span ng-show="form.cardForm.startDate.$invalid" class="form-invalid-message">Enter a valid date.</span>
			            </div>
			        </div>			        
			        <!-- enddate -->
			        <div class="form-group col-xs-4">
			            <label class="control-label col-xs-5" for="data.card.endDate">Ende:</label>
			            <div class="col-xs-7">
			            	<input class="form-control" 
			            	type="date" 
			            	name="endDate" 
			            	ng-model="data.card.endDate" 
			            	placeholder="yyyy-MM-dd" min="2017-01-01" max="2050-12-31">
			            	<span ng-show="form.cardForm.endDate.$invalid" class="form-invalid-message">Enter a valid date.</span>
			            </div>		            
			        </div> 
			     </div>   
		            
			 	<!-- text -->
		        <div class="">
		            <div text-angular 
		            	ng-model="data.card.text" 
		            	ta-toolbar="[['h1','h2','h3'],['pre', 'quote'],['bold','italics','underline','strikeThrough'],['ul','ol','indent','outdent'],['html','insertLink'],['undo','clear']]"></div>
		        </div>
			    <div class="form-footer">
			        <button class="btn btn-primary" ng-click="submitCardForm()" ng-disabled="form.cardForm.$invalid">Submit</button>
			        <button class="btn btn-primary" ng-click="cancelCardForm()">Cancel</button>
			    </div>
			</form>
		</div>
	</div>
</div>